langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
sentence-transformers
pypdf
python-dotenv
python-docx
docx2txt
unstructured
pandas
openpyxl
msoffcrypto-tool
jq
matplotlib
numpy
langchain-huggingface
tqdm
langchain-core
langchain-classic
langchain-astradb
langchain-experimental
scikit-learn
rank_bm25
wikipedia
transformers
torch
PyMuPDF
